.container {
  max-width: 500px;
  margin: 5px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.title {
  text-align: center;
}
