.btn_modal {
  height: fit-content;
  padding: 20px;
  margin: 5px;
  font-size: 18px;
  border-radius: 20px;
  transition-duration: 3s;
  transition: 1.5s;
  position: relative;
  color: black;
  background: white;  
  border: 1px solid;
}

.btn_sub {
  margin-top: 16px;
}

.error_p {
  display: flex;
  justify-content: center;
}
