.cont_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
  
  .cont_central {
    padding:2%;
    background-image: linear-gradient(-226deg, #ffffff 8%, #eef3f5 100%);
    border-radius: 8px;
    transition: all 0.5s;
  }
  
  .cont_buttons_sign_up {
    margin-bottom: 5%;
    margin-top: 10%;
  }

  .cont_buttons_sign_up div {
      display: inline-block;
  }
  
  .btn_link {
    background: linear-gradient(-87deg, #aeb4b4 40%, #9bacb3 100%);
    box-shadow: 0px 2px 20px 2px rgba(192, 220, 223, 0.5);
    border-radius: 8px;
    padding: 15px 20px;
    border: none;
    color: #fff;
    font-size: 15px;
    float: none;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
  }
  
  .btn_link_selected {
    background: rgba(255, 64, 88, 0.74) !important;
    box-shadow: 0px 2px 20px 2px rgba(255, 114, 132, 0.5) !important;
  }
  
  .cont_title_form {
    width: 100%;
    box-shadow: none !important;
    color: rgba(255, 64, 88, 0.74);
  }
  
  .cont_title_form h2{
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  .discret {
    color:#9bacb3;
  }
  
  .cont_inputs {
    width: 100%;
    margin-top: 20px;
  }
  
  .input_form_sign:focus {
    border-bottom: 1px solid #ff8383;
  }
  
  .input_form {
    width: 90%;
    border: none;
    border-bottom: 1px solid #b0bec5;
    background-color: transparent;
    font-size: 20px;
    outline: none;
    transition: all 0.5s;
    border-radius: 0%;
  
    margin: 10% 5%;
    padding: 5% 0%;
    opacity: 1;
    height: 5px;
    display: block;
  }
  
  .input_form:focus {
    box-shadow: none;
    background-color: transparent;
  }
  
  
  .select_form {
    width: 90%;
    border: none;
    border: 1px solid #b0bec5;
    background-color: transparent;
    font-size: 20px;
    outline: none;
    transition: all 0.5s;
  
    margin: 5% 5%;
    opacity: 1;
    height: 50px;
    font-size: 20px;
    display: block;
  }
  
  .cont_btn {
    position: relative;
    display: inline-block;
  }
  
  .cont_btn p {
    color: red;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .btn_submit {
    background: rgba(255, 64, 88, 0.74);
    box-shadow: 0px 2px 20px 2px rgba(255, 114, 132, 0.5);
    border-radius: 8px;
    padding: 15px 30px;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
  