.menu-container {
  background-color: red;
}

.menu-item {
  width: 33.33%;
  float: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-navbar {
  width: 30rem;
  font-size: small;
}

.menu-navbar p {
  font-size: 20px;
}

.menu-navbar ul li:last-child {
  margin-bottom: 20px;
}

.menu-item ul {
  margin-top: 5px;
  list-style-type: none;
  height: 0px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  width: 100%;
  overflow: auto;
  z-index: 10;

  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -o-transition: height 1s ease;
  -ms-transition: height 1s ease;
  transition: height 0.75s ease;
}

.menu-item:hover ul {
  height: 500%;
  overflow: auto;
}

.menu-item-title {
  text-align: center;
  padding: 5px 20px 5px 20px;
  font-size: 25px;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  margin: 0 15px 0 15px;
  font-weight: bold;
  display: block;
  width: 90%;
}

.menu-item-title {
  color: black;
  background: rgb(240, 240, 240);
}

.menu-item-button {
  background: rgb(240, 240, 240);
  box-shadow: 0px 2px 20px 2px #d1d1d1;
  border-radius: 8px;
  padding: 15px 30px;
  border: none;
  color: black;
  position: relative;
  cursor: pointer;
  margin-bottom: 25px;
  align-items: center;
  font-size: 20px;
  width: 90%;
  margin: 0 auto 0 -0.25rem;
  border-radius: 8px;
  margin-top: 15px;
  margin-left: -2rem;
}

.menu-item-a {
  display: block;
  margin-left: 1.2%;
  text-decoration: none;
  color: black !important;
}

.menu-item-a {
  display: block;
  margin-left: 1.2%;
  text-decoration: none;
}

.menu-item-button-selected {
  background: #0d51ff;
  color: white;
}

div.home-container {
  clear: left;
}

@media only screen and (max-width: 992px) {
  .menu-navbar {
    margin: 0px 0px;
  }
}

@media only screen and (max-width: 600px) {
  

  .menu-item {
    width: 80%;
  }

  .menu-item ul {
    padding-left: 10%;
  }

  .menu-item ul li button {
    font-size: 20px;
    width: 90%;
    margin-right: 0px;
    margin-top: 5px;
    padding: 5px;
  }
}
