* {
  margin: 0px auto;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
  min-height: 100vh;
  height: 100%;
  /* Rectangle 3: */
  background-image: linear-gradient(-87deg, #F2F5F6 0%, #DDE5E8 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App + div {
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: linear-gradient(-87deg, #727575 40%, #545d61 100%);
  color: rgba(255,64,88,0.74);
}

.nav-link-header {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links-header {
  color: rgba(255,64,88,0.74);
  font-size: 175%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-left: 30px;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.cont_principal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.cont_centrar {
  width: 400px;
  left: 45%;
  top: 30%;
  margin-left: -160px;
  margin-top: -160px;
  padding: 2%;
  position: relative;
  float: left;
  background-image: linear-gradient(-226deg, #ffffff 8%, #eef3f5 100%);

  border-radius: 8px;
  transition: all 0.5s;
}

fieldset {
  border: none;
}

.cont_list_centrar {
  left: 40%;
  top: 30%;
  margin-left: -160px;
  margin-top: -10%;
  padding: 2%;
  position: relative;
  float: left;
  background-image: linear-gradient(-226deg, #ffffff 8%, #eef3f5 100%);

  border-radius: 8px;
  transition: all 0.5s;
}

.cont_list_centrar h2 {
  margin-bottom: 5%;
}

.cont_sign_up {
  width: 400px;
  left: 45%;
  top: 30%;
  margin-left: -160px;
  padding: 2%;
  position: relative;
  float: left;
  background-image: linear-gradient(-226deg, #ffffff 8%, #eef3f5 100%);
  border-radius: 8px;
  transition: all 0.5s;
}

.cont_form {
  left: 30%;
  width: 800px;
  margin-top: 80px;
  margin-bottom: 160px;
}

.cont_list {
  left: 25%;
  width: 80%;
  margin-bottom: 160px;
  padding: 25px;
}

.list_node {
  background: rgba(255, 64, 88, 0.74);
  box-shadow: 0px 2px 20px 2px rgba(255, 114, 132, 0.5);
  border-radius: 8px;
  padding: 15px 30px;
  border: none;
  color: #fff;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  margin-bottom: 25px;
}

.cont_home {
  margin-top: 30px;
}

.cont_home h1{
  margin-bottom: 30px;
}

.cent_active {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.21);
}

.cont_tabs_login {
  position: relative;
  float: left;
  width: 100%;
  font-size: 30px;
}

.ul_tabs > li {
  position: relative;
  float: right;
  width: 50%;
  list-style: none;
  text-align: center;
}

.ul_tabs > li > a {
  text-decoration: none;
  font-family: Helvetica;
  font-size: 16px;
  color: #999;
  line-height: 14px;
  padding: 20px;
  display: block;
  transition: all 0.5s;
}

.ul_tabs > .active > a {
  color: #ff8383;
}
h2 {
  font-family: Helvetica;
  color: #ff8383;
}

.linea_bajo_nom {
  position: relative;
  width: 100%;
  float: left;
  background-color: #999;
  height: 2px;
}

.active .linea_bajo_nom {
  position: relative;
  width: 100%;
  float: left;
  background-color: #ff8383;
  height: 2px;
}

.cont_text_inputs {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 20px;
}

.input_form_sign {
  width: 90%;
  border: none;
  border-bottom: 1px solid #b0bec5;
  background-color: transparent;
  font-size: 20px;
  outline: none;
  transition: all 0.5s;
  height: 0px;
  margin: 0px;
  padding: 0px;
  opacity: 0;
  display: none;
}

.select_form_sign {
  position: relative;
  float: left;
  width: 90%;
  border: none;
  border: 1px solid #b0bec5;
  background-color: transparent;
  font-size: 20px;
  outline: none;
  transition: all 0.5s;
  height: 0px;
  margin: 0px;
  padding: px;
  opacity: 0;
  display: none;
}

.cont_text_inputs label {
  color: #999;
  font-size: small;
  position: relative;
  float: left;
  margin-left: 40px;
  margin-bottom: 0px;
}

.active_inp_sign_up {
  margin: 10% 5%;
  padding: 10px 0px;
  opacity: 1;
  height: 5px;
}

.active_inp_login {
  margin: 10% 5%;
  padding: 10px 0px;
  opacity: 1;
  height: 5px;
}

.active_inp_form {
  margin: 5% 5%;
  padding: 10px 0px;
  opacity: 1;
  height: 5px;
}

.active_select {
  margin: 5% 5%;
  opacity: 1;
  height: 50px;
  font-size: 20px;
}

.input_form_sign:focus {
  border-bottom: 1px solid #ff8383;
}

.link_forgot_pass {
  position: relative;
  margin-top: 0px;
  margin-left: 30%;
  text-decoration: none;
  color: #999;
  font-size: 13px;
  display: none;
  float: left;
  transition: all 0.5s;
}

.terms_and_cons {
  width: 70%;
  color: #999;
  font-size: 13px;
  transition: all 0.5s;
}

.d_none {
  display: none;
}

.d_block {
  display: block;
}

.cont_text_inputs > input:nth-child(1) {
  transition-delay: 0.2s;
}

.cont_text_inputs > input:nth-child(2) {
  transition-delay: 0.4s;
}
.cont_text_inputs > input:nth-child(3) {
  transition-delay: 0.6s;
}
.cont_text_inputs > input:nth-child(4) {
  transition-delay: 0.8s;
}
* {
  margin: 0px auto;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
} 

.cont_btn {
  position: relative;
  display: inline-block;
}

.cont_btn p {
  color: red;
  font-size: large;
  margin-bottom: 20px;
}

.cont_list p {
  color: red;
  font-size: large;
  margin-bottom: 20px;
}

.btn_sign {
  background: rgba(255, 64, 88, 0.74);
  box-shadow: 0px 2px 20px 2px rgba(255, 114, 132, 0.5);
  border-radius: 8px;
  padding: 15px 30px;
  border: none;
  color: #fff;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}

.btn_link_selected {
  background: rgba(255, 64, 88, 0.74);
  box-shadow: 0px 2px 20px 2px rgba(255, 114, 132, 0.5);
  border-radius: 8px;
  padding: 15px 20px;
  border: none;
  color: #fff;
  font-size: 15px;

  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

.btn_link {
  background: linear-gradient(-87deg, #aeb4b4 40%, #9bacb3 100%);
  box-shadow: 0px 2px 20px 2px rgba(192, 220, 223, 0.5);
  border-radius: 8px;
  padding: 15px 20px;
  border: none;
  color: #fff;
  font-size: 15px;
  float: none;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

.btn_center {
  float: none;
}

.link_inscriptions {
  display: flex;
  margin-bottom: 20px;
}

.cont_text_inputs .username-inline {
  display: flex; 
  flex-flow: row wrap;
  align-items: center;
}

.username-inline input {
  vertical-align: middle;
}

.checkboxes{
  display: inline-block;
  margin-top: 20px;
}

.checkboxes label {
  display: block;
  padding-right: 10px;
  padding-left: 22px;
  text-indent: -22px;
  margin-bottom: 5px;
}
.checkboxes input {
  vertical-align: middle;
  width: 25px;
  height: 25px;
}
.checkboxes label span {
  vertical-align: middle;
  margin-left: 20px;
  font-size: 20px;
}

.labelFields_checkbox {
  display: inline-block;
  font-size: 20px;
  color: Gray;
}

.labelFields {
  font-size: 20px;
  color: #999;
  position: relative;
  float: left;
  margin-left: 40px;
  margin-bottom: 15px;
}*/
