* {
  margin: 0px auto;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
  min-height: 100vh;
  height: 100%;
  /* Rectangle 3: */
  background-image: linear-gradient(rgba(217, 217, 217), rgba(64, 64, 64));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App + div {
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
