.cont_principal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
}

.cont_list_cv {
  margin-bottom: 5%;
}

.cont_list_centrar {
  padding: 2%;
  background-image: linear-gradient(-226deg, #ffffff 8%, #eef3f5 100%);
  border-radius: 8px;
  transition: all 0.5s;
  min-width: 50%;
}

.cont_title_form {
  width: 100%;
  box-shadow: none !important;
  color: rgba(255, 64, 88, 0.74);
}

.cont_list {
  width: 100%;
  margin-top: 20px;
}

.cont_list > p {
  color: red;
}

.jumbotron .btn {
  color: #ffffff;
  padding: 5px !important;
  font-size: 12px !important;
  margin-left: 20px;
}
.jumbotron label {
  font-size: 12px;
}

.img-user {
  height: 120px;
  width: 120px;
  margin-right: 20px;
}

.list_node {
  background: rgba(255, 64, 88, 0.74);
  box-shadow: 0px 2px 20px 2px rgba(255, 114, 132, 0.5);
  border-radius: 8px;
  padding: 15px 30px;
  border: none;
  color: #fff;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  margin-bottom: 25px;
  align-items: center;
}

.list_node_internship {
  background: rgba(255, 64, 88, 0.74);
  box-shadow: 0px 2px 20px 2px rgba(255, 114, 132, 0.5);
  border-radius: 8px;
  padding: 15px 30px;
  border: none;
  color: #fff;
  position: relative;
  cursor: pointer;
  margin-bottom: 25px;
  align-items: center;
}

.list_node_text {
  font-size: 2rem;
  list-style-type: none;
}

.list_node_text_internship {
  font-size: 1.25rem;
  list-style-type: none;
}

.user-item img,
.user-item h3 {
  display: inline-block;
}

.jumbotron .btn .user-item h3 a {
  color: #5bc0de;
  padding: 5px !important;
  font-size: 12px !important;
}
